.ui.active.dimmer {
  display: flex;
  opacity: 1;
}

.ui.dimmer {
  align-items: center;
  animation-fill-mode: both;
  background: var(--color-overlay-backdrop);
  display: none;
  flex-direction: column;
  height: 100%;
  position: absolute;
  opacity: 0;
  justify-content: center;
  user-select: none;
  width: 100%;
  will-change: opacity;
  z-index: 1000;
}
