<details class="inline field">
	<summary>{{ctx.Locale.Tr "auth.change_unconfirmed_email_summary"}}</summary>
	<p>{{ctx.Locale.Tr "auth.change_unconfirmed_email"}}</p>
	<div class="inline field">
		<label for="email">{{ctx.Locale.Tr "email"}}</label>
		<input id="email" name="email" type="email" autocomplete="on">
	</div>
</details>

<div class="text">
	<button class="ui primary button">{{ctx.Locale.Tr "auth.resend_mail"}}</button>
</div>