<div class="ui small modal" id="report-comment-modal">
	<div class="header">
		{{ctx.Locale.Tr "moderation.report_comment"}}
	</div>
	<div class="content">
		<form class="ui form" id="report-comment-form" action="" method="post">
			{{.CsrfTokenHtml}}
			<input type="hidden" name="comment-id" />
			<div class="inline required field">
				<label><strong>{{ctx.Locale.Tr "moderation.report_remarks"}}</strong></label>
				<textarea name="remarks"></textarea>
			</div>
			<div class="text right">
				<button class="ui primary button">{{ctx.Locale.Tr "moderation.report_comment"}}</button>
			</div>
		</form>
	</div>
</div>
