{{template "base/head" .}}

<div class="page-content devtest ui container">
	<h1>Dropdown</h1>

	<div class="tw-flex">
		<details name="fjdropdown">
			<summary>
				{{svg "octicon-kebab-horizontal"}}
			</summary>
			<ul>
				<li>
					<span class="item">{{svg "octicon-person"}} Item</span>
				</li>
				<li><span class="item">Item</span></li>
				<li>Item</li>
			</ul>
		</details>
		<details name="fjdropdown">
			<summary>
				{{svg "octicon-kebab-horizontal"}}
				Dropdown
			</summary>
			<ul>
				<li>
					<a href="#" class="item">{{svg "octicon-person"}} "A" item</a>
				</li>
				<li><a href="#" class="item">"A" item</a></li>
				<li><button class="item">Button item</button></li>
			</ul>
		</details>
	</div>
</div>

{{template "base/footer" .}}
