{{template "base/head" .}}

<div role="main" class="page-content ui container">
	<ul>
		{{range .SubNames}}
		<li><a href="{{AppSubUrl}}/devtest/{{.}}">{{.}}</a></li>
		{{end}}
	</ul>

	<article>
		<h2>Error pages</h2>
		<ul>
			<li><a href="./error/404">Not found</a></li>
			<li><a href="./error/413">Quota exhaustion</a></li>
			<li><a href="./error/500">Server error</a></li>
		</ul>
	</article>
</div>

<style>
ul {
	line-height: 2em;
}
</style>

{{template "base/footer" .}}
