<details class="fjdropdown">
	<summary>{{svg "octicon-kebab-horizontal"}}</summary>
	<ul>
		{{if and .EnableFeed (or .IsAdmin (eq .SignedUserID .ContextUser.ID) (not .ContextUser.KeepActivityPrivate))}}
			<li>
				<a href="{{.ContextUser.HomeLink}}.rss" class="entry">{{svg "octicon-rss"}}<span>{{ctx.Locale.Tr "rss_feed"}}</span></a>
			</li>
			<li>
				<a href="{{.ContextUser.HomeLink}}.atom" class="entry">{{svg "octicon-rss"}}<span>{{ctx.Locale.Tr "feed.atom.link"}}</span></a>
			</li>
		{{end}}
		<li>
			<a href="{{.ContextUser.HomeLink}}.keys" class="entry">{{svg "octicon-key"}}<span>{{ctx.Locale.Tr "keys.ssh.link"}}</span></a>
		</li>
		<li>
			<a href="{{.ContextUser.HomeLink}}.gpg" class="entry">{{svg "octicon-key"}}<span>{{ctx.Locale.Tr "keys.gpg.link"}}</span></a>
		</li>
		{{if and .IsSigned (ne .SignedUserID .ContextUser.ID)}}
			<li hx-target="#profile-avatar-card" hx-indicator="#profile-avatar-card">
				{{if .IsBlocked}}
					<button class="entry orange text" hx-post="{{.ContextUser.HomeLink}}?action=unblock">
						{{svg "octicon-person"}} {{ctx.Locale.Tr "user.unblock"}}
					</button>
				{{else}}
					<button class="entry orange text" type="submit" data-modal-id="block-user" hx-post="{{.ContextUser.HomeLink}}?action=block" hx-confirm="-">
						{{svg "octicon-blocked"}} {{ctx.Locale.Tr "user.block"}}
					</button>
				{{end}}
			</li>
		{{end}}
		{{if and .IsModerationEnabled .IsSigned (ne .SignedUserID .ContextUser.ID)}}
			<li>
				<a href="{{AppSubUrl}}/report_abuse?type=user&id={{.ContextUser.ID}}" class="entry orange text">{{svg "octicon-stop"}}{{ctx.Locale.Tr "moderation.report_abuse"}}</a>
			</li>
		{{end}}
	</ul>
</details>
