<a class="author text black tw-font-semibold muted"{{if gt .ID 0}} href="{{.HomeLink}}"{{end}}
	{{if eq .ID -1}} data-tooltip-content="{{ctx.Locale.Tr "repo.ghost_user.tooltip"}}"{{end}}>{{.GetDisplayName}}</a>
{{if .IsBot}}<span class="ui basic label tw-p-1 tw-align-baseline">bot</span>{{end}}
