<div class="field required">
	<label>{{ctx.Locale.Tr "packages.upload.distribution.label"}}</label>
	<input name="distribution" placeholder="{{ctx.Locale.Tr "packages.upload.distribution.placeholder"}}" maxlength="255" required>
</div>

<div class="field required">
	<label>{{ctx.Locale.Tr "packages.upload.component.label"}}</label>
	<input name="version" placeholder="{{ctx.Locale.Tr "packages.upload.component.placeholder"}}" maxlength="255" required>
</div>

<div class="field required">
	<label>{{ctx.Locale.Tr "packages.upload.file.label"}}</label>
	<input name="file" type="file" accept=".deb" required>
</div>
