<div class="field">
	<label>{{ctx.Locale.Tr "packages.upload.group.label"}}</label>
	<input name="group" placeholder="{{ctx.Locale.Tr "packages.upload.group.placeholder"}}" maxlength="255">
</div>

{{if .ShowRpmSignCheckBox}}
	<div class="field">
		<div class="ui checkbox">
			<label for="package-upload-signed">{{ctx.Locale.Tr "packages.upload.signed.label"}}</label>
			<input id="package-upload-signed" name="signed" type="checkbox">
		</div>
	</div>
{{end}}

<div class="field required">
	<label>{{ctx.Locale.Tr "packages.upload.file.label"}}</label>
	<input name="file" type="file" accept=".rpm" required>
</div>
