
<div class="header">
	{{ctx.Locale.Tr "sponsor.header_text" .FundingName}}
</div>
<div class="content">
	<ul>
		{{range .Funding}}
			<li>
				<div class="tw-flex tw-gap-2">
					{{if .Icon}}
						<img class="tw-h-full tw-align-middle" src="{{.Icon}}" width="24" height="24">
					{{else}}
						{{svg "octicon-heart" 24}}
					{{end}}

					<a href="{{.URL}}">{{.Text}}</a>
				</div>
			</li>
		{{end}}
	</ul>
</div>
