
<div class="header">
	{{ctx.Locale.Tr "sponsor.header" .FundingName}}
</div>
<div class="content">
	<ul class="tw-list-none tw-p-0">
		{{range .Funding}}
			<li>
				<div class="tw-flex tw-gap-2">
					{{if .Icon}}
						<img class="tw-h-full" src="{{.Icon}}" width="24" height="24">
					{{else}}
						{{svg "octicon-heart" 24}}
					{{end}}

					<a target="_blank" rel="noopener noreferrer" href="{{.URL}}">{{.Text}}</a>
				</div>
			</li>
		{{end}}
	</ul>
</div>
