<div {{if .id}}id="file-field-{{.id}}"{{end}} data-template-name="field">
	<div class="field required">
		<label {{if .id}}for="file-name-{{.id}}"{{end}} data-template-name="name-label">{{ctx.Locale.Tr "gist.edit.file_name"}}</label>
		<input {{if .id}}name="file-name-{{.id}}"{{end}} {{if .name}}value="{{.name}}"{{end}} data-template-name="name-input" required></input>
	</div>
	<div class="field required">
		<label {{if .id}}for="file-content-{{.id}}"{{end}} data-template-name="content-label">{{ctx.Locale.Tr "gist.edit.file_content"}}</label>
		<textarea {{if .id}}name="file-content-{{.id}}"{{end}} data-template-name="content-input">{{if .content}}{{.content}}{{end}}</textarea>
	</div>
	{{if .delete}}
		<div class="tw-text-right">
			<button type="button" class="ui primary button red" data-template-name="delete-button" {{if .id}}data-file-id="{{.id}}"{{end}}>{{ctx.Locale.Tr "remove"}}</button>
		</div>
	{{end}}
</div>
