<h4 class="ui top attached header" id="overview">
	{{ctx.Locale.Tr "repo.settings.units.overview"}}
</h4>

<fieldset class="ui attached segment field">
	{{$isCodeEnabled := .Repository.UnitEnabled $.Context $.UnitTypeCode}}
	{{$isCodeGlobalDisabled := .UnitTypeCode.UnitGlobalDisabled}}
	<label class="{{if $isCodeGlobalDisabled}}disabled{{end}}"{{if $isCodeGlobalDisabled}} data-tooltip-content="{{ctx.Locale.Tr "repo.unit_disabled"}}"{{end}}>
		<input class="enable-system" name="enable_code" type="checkbox"{{if $isCodeEnabled}} checked{{end}}>{{ctx.Locale.Tr "repo.code"}}
		<span class="help">{{ctx.Locale.Tr "repo.code.desc"}}</span>
	</label>

	{{$isProjectsEnabled := .Repository.UnitEnabled $.Context $.UnitTypeProjects}}
	{{$isProjectsGlobalDisabled := .UnitTypeProjects.UnitGlobalDisabled}}
	<label class="{{if $isProjectsGlobalDisabled}}disabled{{end}}"{{if $isProjectsGlobalDisabled}} data-tooltip-content="{{ctx.Locale.Tr "repo.unit_disabled"}}"{{end}}>
		<input class="enable-system" name="enable_projects" type="checkbox" {{if $isProjectsEnabled}}checked{{end}}>{{ctx.Locale.Tr "repo.projects"}}
		<span class="help">{{ctx.Locale.Tr "repo.settings.projects_desc"}}</span>
	</label>

	{{$isReleasesEnabled := .Repository.UnitEnabled $.Context $.UnitTypeReleases}}
	{{$isReleasesGlobalDisabled := .UnitTypeReleases.UnitGlobalDisabled}}
	<label class="{{if $isReleasesGlobalDisabled}}disabled{{end}}"{{if $isReleasesGlobalDisabled}} data-tooltip-content="{{ctx.Locale.Tr "repo.unit_disabled"}}"{{end}}>
		<input class="enable-system" name="enable_releases" type="checkbox" {{if $isReleasesEnabled}}checked{{end}}>{{ctx.Locale.Tr "repo.releases"}}
		<span class="help">{{ctx.Locale.Tr "repo.settings.releases_desc"}}</span>
	</label>

	{{$isPackagesEnabled := .Repository.UnitEnabled $.Context $.UnitTypePackages}}
	{{$isPackagesGlobalDisabled := .UnitTypePackages.UnitGlobalDisabled}}
	<label class="{{if $isPackagesGlobalDisabled}}disabled{{end}}"{{if $isPackagesGlobalDisabled}} data-tooltip-content="{{ctx.Locale.Tr "repo.unit_disabled"}}"{{end}}>
		<input class="enable-system" name="enable_packages" type="checkbox" {{if $isPackagesEnabled}}checked{{end}}>{{ctx.Locale.Tr "repo.packages"}}
		<span class="help">{{ctx.Locale.Tr "repo.settings.packages_desc"}}</span>
	</label>

	{{if .EnableActions}}
		{{$isActionsEnabled := .Repository.UnitEnabled $.Context $.UnitTypeActions}}
		{{$isActionsGlobalDisabled := .UnitTypeActions.UnitGlobalDisabled}}
		<label class="{{if $isActionsGlobalDisabled}}disabled{{end}}"{{if $isActionsGlobalDisabled}} data-tooltip-content="{{ctx.Locale.Tr "repo.unit_disabled"}}"{{end}}>
			<input class="enable-system" name="enable_actions" type="checkbox" {{if $isActionsEnabled}}checked{{end}}>{{ctx.Locale.Tr "actions.actions"}}
			<span class="help">{{ctx.Locale.Tr "repo.settings.actions_desc"}}</span>
		</label>
	{{end}}

	<div class="divider"></div>

	<div class="field">
		<button class="ui primary button">{{ctx.Locale.Tr "repo.settings.update_settings"}}</button>
	</div>
</fieldset>
